@use "@judie/styles/variables.scss" as v;

.inputContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid;
  border-color: #ced4da;
}

.chatBoxInput {
  display: flex;
  height: 100%;
  width: 100%;
  background: transparent;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  padding-right: max(15%, 50px); // For Submit button
  @media screen and (min-width: 768px) {
    padding: 24px;
  }
  transition: border-color 0.2s ease-in-out;
  line-height: 18px;
  &:focus-visible {
    outline: none;
    border-color: v.$primary-blue;
  }
  &:hover {
    border-color: v.$primary-blue;
  }
}

.submitButton {
  background-color: v.$primary-teal;
  min-width: 56px;
  &:hover {
    background-color: v.$teal-600;
  }
  transition: background-color 0.2s ease-in-out;
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}