@use "@judie/styles/variables.scss" as v;

.messageRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.messageRowLeft {
  justify-content: flex-start;
  padding-right: 20%;
  .messageContainer {
    background-color: v.$primary-teal;
    border-radius: 12px 12px 12px 0px;
    padding: 8px 12px;
    margin: 10px;
    max-width: 100%;
    @media screen and (min-width: 768px) {
      max-width: 60%;
    }
    word-wrap: break-word;
    p {
      pre {
        color: #fff;
        font-weight: 500;
        font-family: "Roboto", monospace;
        width: 100%;
        white-space: pre-wrap;
      }
      
    }
  }
}

.messageRowRight {
  justify-content: flex-end;
  padding-left: 20%;
  .messageContainer {
    background-color: #f1f0f0;
    border-radius: 12px 12px 0px 12px;
    padding: 8px 12px;
    margin: 10px;
    max-width: 60%;
    word-wrap: break-word;
  }
  p {
    pre {
      color: black;
      font-weight: 500;
      font-family: "Roboto", monospace;
      width: 100%;
      white-space: pre-wrap;
    }
  }
}
