@use "@judie/styles/variables.scss" as v;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$primary-teal;
  width: 100%;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  cursor: pointer;
}

.blue {
  background-color: #046AC5;
  border-color: #046AC5;
}

.red {
  background-color: v.$primary-red;
  border-color: v.$primary-red;
  color: v.$primary-red !important;
}

.transparent {
  background: transparent;
  border-width: 1px;
  border-style: solid;
  color: black;
}