black
fastapi
psycopg2-binary
sqlalchemy
uvicorn
grpcio
grpcio-tools
jupyter
protoletariat
openai
pinecone-client
pytest
python-dotenv
prisma
jupyter
notebook
matplotlib
altair
pandas
altair_saver
vl-convert-python