@use "@judie/styles/variables.scss" as v;

.main {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.pageContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: v.$primary-teal;
}

.signupFormContainer {
  width: 80%;
  @media screen and (min-width: 768px) {
    width: 30%;
  }
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #FFFFFF;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 8px;
  padding: 24px 36px;
  input, button {
    margin-bottom: 16px;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    margin: 0 0 0.5rem 0;
  }
}

.pageHeader {
  align-self: center;
  font-size: 2rem;
  font-weight: 600;
  color: #FFF;
  margin: 0 0 1rem 0;
}

.logo {
  width: 6rem;
  height: 6rem;
  margin-bottom: -1rem;
}

.bottomRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 16px;
}

.checkboxText {
  font-size: 0.85rem;
  color: #000;
}
.animate {
  animation: horizontal-shaking 0.5s infinite;
}

.roleSelector {
  margin-bottom: 12px;
}

@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}