$primary-teal: #0E8B8F;
$primary-teal-dark: #0a6c6f;
$primary-blue: #5B8FFF;
$primary-red: #ff3333;
$gray-200: #d3d3d3;
$primary-purple: #1F0150;
$primary-purple-light: #d5bbfe;
$primary-purple-extra-light: #f4eeff;
$teal-500:  #60dac6;
$teal-600:  #4eaa9b;
$teal-700:  #3d7d72;
$teal-800:  #2c524b;
$teal-900:  #1a2b28;

        