@use "@judie/styles/variables.scss" as v;

.loadingPageContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-bottom: 50%;
  @media screen and (min-width: 768px) {
    padding-right: 5%;
  }
  justify-content: center;
  background-color: v.$primary-teal;
}

.loadingAnimation {
  height: 30%;
}