@use "@judie/styles/variables.scss" as v;

.sidebarContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 4rem;
  background-color: v.$primary-teal;
  overflow: hidden;
  align-items: center;
  padding: 24px 0;
}

.baseIcon {
  width: 50%;
  aspect-ratio: 1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 24px;
  &:hover {
    background-color: v.$primary-teal-dark;
    transition: background-color 0.3s ease-in-out;
  }
}
.activeIcon {
  background-color: v.$primary-teal-dark;
}
.iconContainer {
  background-color: v.$primary-teal;
}